@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}
body {
    background-image: url("./bg2.jpg");
    background-size: cover;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
 body div h4 {
    font-weight: normal;
    align-items: center;
    text-align: center;
    margin-top: -1.2rem;
    margin-bottom: 1rem;
}
h1 {
    display: flex;
    align-items: center;
}
input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}
input:focus {
    outline: none;
}
.weather {
    font-size: 1.5rem;
    text-align: center;
}
.weather p{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: -0.5rem;
}
.weather table{
    font-size: large;
    align-items: center;
    margin: 1rem;
}
.weather tr td h4{
    font-size: large;
    margin-top: 0rem;
    margin-bottom: 0.1rem;
}
.weather tr td img {
    height: 40px;
    width: 40px;
}
.weather small{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather h4 {
    display: flex;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: -1rem;
}
.weather ul p{
    text-align: left;
    font-size: x-large;
    margin-bottom: 0.3rem;
    margin-top: -1rem;
}
.weather ul li{
    text-align: left;
    font-weight: normal;
    font-size: large;
}